{% extends 'base.html.twig' %}

{% block title article.title %}

{% block body %}


<div class="show-container">
    
        <article class="show-bg ">
        <div class="attach-wrapper">
           <div class="attachements-container">
                    {% for attachement in attachements %}   
                        <img class="attachements" data-single-attachement="{{ attachement.image }}"  src="{{ vich_uploader_asset(attachement, 'imageFile') | imagine_filter('squared_thumbnail_small') }}" alt="{{ 'Attachement' }}" />
                    {% endfor %}
            </div>    

        <div class="mw-100 border overflow-hidden ">
                <img class="main-attachement " src="{{ vich_uploader_asset(attachements|first , 'imageFile') | imagine_filter('squared_thumbnail_small') }}" alt="{{ 'Attachement' }}" />
      
        </div>
        </div>
        
      

        <div class="attachements-details ">
           <h1 class="attachements-title h5">{{ article.title }}</h1>     
            <p class="attachements-price mt-3">{{ article.price|slice(0,3) }}.00 DH</p>
            <h3>Description</h3>
            <p class="attachements-description text-break mt-3">
            {{ article.description }} 
            </p>
        </div>
         </article>
    </div>


{% endblock %}
