{% extends 'base.html.twig' %}

{% block title article.title %}

{% block body %}

<div class="row">
    <div class="col-md-6 mx-auto">
        <article class="show-bg rounded shadow m-5">
        <div class="mw-100 rounded-top overflow-hidden mt-5">
            
                <img class="w-100 mb-3" <img class="w-100 mb-3" src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('squared_thumbnail_small') }}" alt="{{ article.title }}" />
      
        </div>
        <div class="p-3 mb-5">
           <h1 class="h5 text-secondary">{{ article.title }}</h1>     
            <p class="text-muted ">{{ article.price|slice(0,3) }}.00 DH</p>
            <p class="text-break">
            {{ article.description }}
        </p>
       
        </div>
         </article>
    </div>
</div>

{% endblock %}
